.headLine {
  color: white;
  text-align: center;
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.wcu {
  margin: auto;
  text-align: center;
  width: 80%;
  color: white;
  font-size: 17px;
  line-height: 25px;
}

.btn {
  background-color: white;
  border: 1px solid black;
  height: 35px;
  width: 100px;
  font-size: 20px;
  padding-top: 5px;
  border-radius: 5px;
  margin: auto;
  display: inline-block;
  margin-top: 10px;
}
